---
title:  "Projects"
permalink: /projects/
theme_color: black
css_styles:
    -
        path: /css/projects.css
        cache_bust: true
        absolute_url: true
---
<section class="section js-scroll-in-view">
    <div class="section__content layout">
        <div class="projects">
            <header class="projects__header">
                <h1 class="font-serif">Projects</h1>
            </header>
            <ul class="projects__list list-clean">
                {% assign sorted_projects = site.projects | reverse %}
                {% for project in sorted_projects %}
                    {% assign category_icon = site.data.icons-category[project.category] %}
                    <li class="projects__list-item">{% include project-card.html icon=category_icon project=project %}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>