<a href="#" class="cta-flag">Beta - Feedback</a>
<section class="jumbotron top" style="background-image:url('images/jumbotron/direct_mail_1.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-4 eye-contact-1">
        <h1 class="headline">Our Direct Mail experts can<br class="visible-lg-block">help you <strong>get more business</strong>.</h1>
        <p class="lead">Wonder how you can attract and retain more customers?</p>
        <a class="btn btn-primary">Talk to an Expert</a>
        <a class="btn btn-default">Learn More</a>
      </div>
    </div>
  </div>
</section>
<section class="mod-block mod-block-blueish">
	<div class="container"><a href="#">Learn how</a> we saved customers $VAR-VALUE-HERE in postage last year</div>
</section>
<section id="guide" class="mod-pitch mod-pitch-white">
  <div class="container">
    <h2>Direct Mail isn't simple. But it's effective when done right.</h2>
    <p>Studies show that Direct Mail's response rate is <span>20x</span> that of email. So whether you're small to mid-market or a national brand, over 60,000 businesses like yours have trusted us to personally guide marketers through all the steps of Direct Mail.</p>
    <ul>
      <li class="mod-pitch-1">
        <svg viewBox="0 0 60 60" class="icon">
          <use xlink:href="#icon-1"></use>
        </svg>
        <i class="fa fa-angle-right"></i>
        <div class="mod-plan">
          <h3 class="mod-plan-hd">Plan</h3>
          <div class="mod-plan-bd">
            <strong>Define your strategy</strong>
            <p>Let’s learn more about your business and marketing goals.</p>
          </div>
        </div>
      </li>
      <li class="mod-pitch-2">
        <svg viewBox="0 0 60 60" class="icon">
          <use xlink:href="#icon-2"></use>
        </svg>
        <i class="fa fa-angle-right"></i>
        <div class="mod-plan">
          <h3 class="mod-plan-hd">List</h3>
          <div class="mod-plan-bd">
            <strong>Target your audience</strong>
            <p>Our data services and targeted lists help you find and mail to the right audience.</p>
          </div>
        </div>
      </li>
      <li class="mod-pitch-3">
        <svg viewBox="0 0 60 60" class="icon">
          <use xlink:href="#icon-3"></use>
        </svg>
        <i class="fa fa-angle-down"></i>
        <div class="mod-plan">
          <h3 class="mod-plan-hd">Create</h3>
          <div class="mod-plan-bd">
            <strong>Drive better response</strong>
            <p>We can review or design your layout for response and postal guidelines.</p>
          </div>
        </div>
      </li>
      <li class="mod-pitch-4">
        <svg viewBox="0 0 60 60" class="icon">
          <use xlink:href="#icon-6"></use>
        </svg>
        <i class="fa fa-angle-left"></i>
        <div class="mod-plan">
          <h3 class="mod-plan-hd">Print</h3>
          <div class="mod-plan-bd">
            <strong>Stand out with quality and customization</strong>
            <p>Choose from a variety of high quality formats for the greatest impact.</p>
          </div>
        </div>
      </li>
      <li class="mod-pitch-5">
        <svg viewBox="0 0 60 60" class="icon">
          <use xlink:href="#icon-5"></use>
        </svg>
        <i class="fa fa-angle-left"></i>
        <div class="mod-plan">
          <h3 class="mod-plan-hd">Mail</h3>
          <div class="mod-plan-bd">
            <strong>Save with smart postal analytics</strong>
            <p>Our experience and automation saves you money on postage.</p>
          </div>
        </div>
      </li>
      <li class="mod-pitch-6">
        <svg viewBox="0 0 60 60" class="icon">
          <use xlink:href="#icon-4"></use>
        </svg>
        <i class="fa fa-angle-up"></i>
        <div class="mod-plan">
          <h3 class="mod-plan-hd">Track</h3>
          <div class="mod-plan-bd">
            <strong>See results, learn what works</strong>
            <p>We educate and deliver on methods to track responses</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
<section class="mod-block mod-block-orange mod-block-md">
	<div class="container">
    <blockquote>
      <p>AnnaMarie guided me through the entire creative process, and her team came up with a brand-new format and targeted list. I'm still getting results from this mailing!</p>
      <cite>Michael G., BenzTek</cite>
    </blockquote>
  </div>
</section>
<section class="jumbotron blockquote" style="background-image:url('images/jumbotron/direct_mail_3.png')">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <blockquote>
        	<p>Neuroscience studies show that physical media such as print and <span>Direct Mail</span> leaves a deeper footprint on the human brain than virtual media.</p>
        	<source src="#" type="">
        	<cite>Millward Brown Research Study</cite>
        </blockquote>
        <a href="#" class="btn btn-primary">Download Infographic</a>
      </div>
    </div>
  </div>
</section>
<section class="mod-card-row">
	<div class="container">
    <h2>Not ready to call just yet? Check out these resources to help you learn more and prepare.</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="mod-card">
          <h3>Direct Mail Planning</h3>
          <p>Free resources and tools to help you prepare your next direct mail campaign.</p>
          <a href="//www.modernpostcard.com/direct-mail-planning" class="btn btn-default">Learn More</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="mod-card">
          <h3>Direct Mail Crash Course</h3>
          <p>You're invited to learn insider tips from the industry's best in our free 1-day seminar.</p>
          <a href="//www.modernpostcard.com/seminar" class="btn btn-default">Learn More</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="mod-card">
          <h3>Every Door Direct Mail</h3>
          <p>Let our in-house experts guide you through the lower-cost mailing option of EDDM!</p>
          <a href="//www.modernpostcard.com/services/eddm" class="btn btn-default">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="mod-block mod-block-blueish">
	<div class="container">Direct Mail is always easier with a person. Call 800.959.8365 to speak with an expert.</div>
</section>