<style>
  .mod-table-td h6{margin-bottom:0;}
  .mod-table-td .black-space{height:72.5px;}
</style>
<section class="jumbotron image" style="background-image:url('images/jumbotron/new_postal_regs_1.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="headline">Postal Regulations</h1>
        <h2 class="subheadline h3">Ensure delivery, reduce postage costs</h2>
        <p class="lead">Trust a partner who knows how to take advantage of all the USPS postal guidelines to improve delivery rates and reduce postage.</p>
      </div>
    </div>
  </div>
</section>
<div class="container block-style-1">
  <section class="mod-stack text-center">
    <div class="mod-stack-hd row">
      <div class="col-md-10 col-md-push-1">
        <h3>Download <strong>free</strong> mailing templates</h3>
        <p>The USPS requires specific layout for proper automated mailing. Download our <strong>FREE</strong> industry-leading mailing templates for your postcard to make sure you&#8217;re designing perfect mail.</p>
      </div>
    </div>
    <div class="mod-stack-bd mod-table border-thick small">
      <div class="mod-table-td">
        <img src="https://placehold.it/100x100?text=placeholder+image" alt="4.25 x 6">
        <h6><strong>4.25 x 6</strong></h6>
        <ul class="list-unstyled">
          <li>Standard</li>
          <li>Greeting Card</li>
          <li>Triple Standard</li>
        </ul>
        <a href="" class="btn btn-sm btn-primary">Download</a>
      </div>
      <div class="mod-table-td">
        <img src="https://placehold.it/100x100?text=placeholder+image" alt="5 x 7">
        <h6><strong>5 x 7</strong></h6>
        <ul class="list-unstyled">
          <li>Single</li>
          <li>Double</li>
          <li>Triple</li>
        </ul>
        <a href="" class="btn btn-sm btn-primary">Download</a>
      </div>
      <div class="mod-table-td">
        <img src="https://placehold.it/100x100?text=placeholder+image" alt="6 x 8.5">
        <h6><strong>6 x 8.5</strong></h6>
        <ul class="list-unstyled">
          <li>Deluxe</li>
          <li>Double Deluxe</li>
          <li>Triple Deluxe</li>
        </ul>
        <a href="" class="btn btn-sm btn-primary">Download</a>
      </div>
      <div class="mod-table-td">
        <img src="https://placehold.it/100x100?text=placeholder+image" alt="6 x 11">
        <h6><strong>6 x 11</strong></h6>
        <ul class="list-unstyled">
          <li>Sumo</li>
          <li>Double Sumo</li>
          <li>Triple Sumo</li>
        </ul>
        <a href="" class="btn btn-sm btn-primary">Download</a>
      </div>
      <div class="mod-table-td">
        <img src="https://placehold.it/100x100?text=placeholder+image" alt="Brocure">
        <h6><strong>Brocure</strong></h6>
        <div class="black-space"></div>
        <a href="" class="btn btn-sm btn-primary">Download</a>
      </div>
    </div>
  </section>
  <section class="mod-stack text-center">
    <div class="mod-stack-hd">
      <h4>Don&#8217;t risk setting up your mailing incorrectly!</h4>
      <p>Our templates show very specific guidelines the USPS is looking for.</p>
      <a class="text-capitalize" href="">More direct mail advice</a>
    </div>
    <div class="mod-stack-bd">
      <img src="https://placehold.it/350x350?text=placeholder+image" alt="">
    </div>
    <hr/>
  </section>
  <section class="mod-stack text-center row">
    <div class="mod-stack=bd col-md-10 col-md-push-1">
      <h3>Rules for <strong>folded</strong> self-mailers</h3>
      <p>Folded Self-Mailers (folded cards that mail without envelopes) must follow the following USPS rules to ensure smooth automated processing through the Postal Service sorting equipment.</p>
      <p>Please keep in mind that if you have leftover cards that don't follow the rules below, the post office will require additional postage to mail them. All the more reason to begin adopting these changes now!</p>
      <p>Folded Self-Mailers, such as Panoramic Products that fold on the right side of the mailing panel, are still allowed. However, they also cannot exceed 10-1/2&Prime; in length.</p>
    </div>
  </section>
  <section class="mod-stack text-center">
    <div class="mod-stack-bd row">
      <div class="col-md-4">
        <div class="mod-box">
          <div class="mod-box-hd">
            <h3 class="h5">Sizes</h3>
          </div>
          <div class="mod-box-bd">
            <p>Acceptable sizes for Folded Self-Mailers are 4-1/4&Prime; x 6&Prime; up to 6&Prime; x 10-1/2&Prime;.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="mod-box">
          <div class="mod-box-hd">
            <h3 class="h5">Orintation - folded<br/>&amp; tri-fold cards</h3>
          </div>
          <div class="mod-box-bd">
            <p>When looking at the mailing panel, all Folded Self-Mailers must open at the top and fold at the bottom.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="mod-box">
          <div class="mod-box-hd">
            <h3 class="h5">Sealing</h3>
          </div>
          <div class="mod-box-bd">
            <p>Folded Self-Mailers must be sealed closed using glue spots or non-perforated wafer seals. When mailing with us, we will ensure that your sealing type complies with USPS regulations.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="mod-table text-center">
    <div class="mod-table-td"><img src="http://www.modernpostcard.com/sites/default/files/images/animations/orientation-example.jpg" alt=""></div>
    <div class="mod-table-td"><img src="http://www.modernpostcard.com/sites/default/files/images/animations/orientation-animation-small.gif" alt=""></div>
    <div class="mod-table-td"><img src="http://www.modernpostcard.com/sites/default/files/images/animations/orientation-animation-tri-fold-small.gif" alt=""></div>
  </div>
</div>
