<!-- Banner -->
<section id="banner">
    <div class="items">
        <section class="accent2">
            <h1>Services</h1>
            <p>Optimization, Development, Analytics</p>
            <ul class="actions">
                <li><a href="{{ site.baseurl }}{% link services.html %}" class="button special">More</a></li>
            </ul>
        </section>
        <section class="accent3">
            <h1>About</h1>
            <p>Raised in Hawaii, living in San Diego</p>
            <ul class="actions">
                <li><a href="{{ site.baseurl }}{% link index.html %}#about" class="button special">More</a></li>
            </ul>
        </section>
    </div>
    <div class="slider">
        <article>
            <img src="/img/ed-image-1.png" alt="" data-position="top right" />
        </article>
        <article>
            <img src="/img/ed-image-5.png" alt="" data-position="bottom right" />
        </article>
        <article>
            <img src="/img/ed-image-2.png" alt="" data-position="top right" />
        </article>
    </div>
</section>