<!-- Banner -->
<section id="banner">
    <div class="items">
        <section class="accent2">
            <h1>Sed lorem</h1>
            <p>Sed egestas, ante vulputate volutpat vitae luctus metus libero aliquam</p>
            <ul class="actions">
                <li><a href="#" class="button special">More</a></li>
            </ul>
        </section>
        <section class="accent3">
            <h1>Amet magna</h1>
            <p>Fusce lancinia ipsum feugiat dolor sed matis tempus sed nullam</p>
            <ul class="actions">
                <li><a href="#" class="button special">More</a></li>
            </ul>
        </section>
    </div>
    <div class="slider">
        <article>
            <img src="/img/pic01.jpg" alt="" data-position="bottom right" />
        </article>
        <article>
            <img src="/img/pic02.jpg" alt="" data-position="bottom right" />
        </article>
        <article>
            <img src="/img/pic03.jpg" alt="" data-position="top left" />
        </article>
    </div>
</section>