<form autocomplete="off" method="post" class="form" action="https://script.google.com/macros/s/AKfycbwEp73O79JI-Ix3qVWCQUcDY921bHyZYn8ferTFC3HNMiA0cMI/exec" id="contact-form">
    <div class="form__wrapper">
        <input type="hidden" name="category" value="{{ include.meta | default: 'not set' }}">

        <div class="form__input form--name">
            <input type="text" name="name" id="contact-form-name" value="" placeholder="Name" required />
        </div>
        <div class="form__input form--email">
            <input type="email" name="email" id="contact-form-email" value="" placeholder="Email" required />
        </div>
        <div class="form__textarea form--message">
            <textarea name="message" id="contact-form-message" placeholder="Enter your message" rows="6" required></textarea>
        </div>
        <div class="form__input form--email-confirm">
            <input type="text" name="confirm-email" autocomplete="off" id="contact-form-email-confirm">
        </div>
        <div class="form__input form--question">
            <label><i class="fas fa-spider"></i> How many legs does a spider have?</label>
            <input type="number" min="2" max="12" name="question" id="contact-form-question" value="" placeholder="" required />
        </div>
        <div class="form__controls">
            <ul>
                <li><button type="submit" class="button button--cta-3" >Send Message</button></li>
                <li><button type="reset" class="button" >Reset</button></li>
            </ul>
        </div>
    </div>
    <div class="form__loader">
        <i class="fas fa-spinner fa-pulse"></i>
    </div>
</form>
