<form autocomplete="off" method="post" class="form" action="https://script.google.com/macros/s/AKfycbwEp73O79JI-Ix3qVWCQUcDY921bHyZYn8ferTFC3HNMiA0cMI/exec" id="contact-form">
    <div class="form__wrapper">
        <input type="hidden" name="category" value="{{ include.meta | default: 'not set' }}">

        <div class="form__input form--name">
            <input type="text" name="name" id="contact-form-name" value="" placeholder="Name" required />
        </div>
        <div class="form__input form--email">
            <input type="email" name="email" id="contact-form-email" value="" placeholder="Email" required />
        </div>
        <div class="form__textarea form--message">
            <textarea name="message" id="contact-form-message" placeholder="Enter your message" rows="6" required></textarea>
        </div>
        <div class="form__input form--email-confirm">
            <input type="text" name="confirm-email" autocomplete="off" id="contact-form-email-confirm">
        </div>
        <div class="form__input form--question">
            <label>Spiders have how many legs? <i class="fas fa-spider"></i></label>
            <input list="tickmarks" type="range" min="1" max="12" name="question" id="contact-form-question" value="" placeholder="" required />
            <datalist id="tickmarks">
                <option value="1" label="1">
                <option value="2">
                <option value="3">
                <option value="4" label="4">
                <option value="5">
                <option value="6">
                <option value="7">
                <option value="8" label="8">
                <option value="9">
                <option value="10">
                <option value="11">
                <option value="12" label="12">
            </datalist>
        </div>
        <div class="form__controls">
            <ul>
                <li><button type="submit" class="button button--cta-3" >Send Message</button></li>
                <li><button type="reset" class="button" >Reset</button></li>
            </ul>
        </div>
    </div>
    <div class="form__loader">
        <i class="fas fa-spinner fa-pulse"></i>
    </div>
</form>
