<!-- Footer -->
<footer id="footer">
    <section class="links">
        <div>
            <h3>Pages</h3>
            <ul class="plain">
                <li><a href="{{ site.baseurl }}{% link index.html %}">Home</a></li>
                <li><a href="{{ site.baseurl }}{% link services/index.html %}">Services</a></li>
                <li><a href="{{ site.baseurl }}{% link blog/index.html %}">Blog</a></li>
            </ul>
        </div>
        <div>
            <h3>Services</h3>
            <ul class="plain">
                <li><a href="{{ site.baseurl }}{% link services/optimization.html %}">Optimization</a></li>
                <li><a href="{{ site.baseurl }}{% link services/development.html %}">Web Development</a></li>
                <li><a href="{{ site.baseurl }}{% link services/analytics.html %}">Analytics</a></li>
            </ul>
        </div>
        <div>
            <h3>Social</h3>
            <ul class="plain">
                <li><a target="_blank" href="https://github.com/edmeehan">GitHub</a></li>
                <li><a target="_blank" href="https://www.linkedin.com/in/edwardmeehan">LinkedIn</a></li>
                <li><a target="_blank" href="https://codepen.io/edmeehan">CodePen</a></li>
            </ul>
        </div>
        <div>
            <h3>Projects</h3>
            <ul class="plain">
                <li><a target="_blank" href="https://emuser.rocks/">emuser.rocks</a></li>
                <li><a target="_blank" href="http://throwshaka.com/">throwshaka.com</a></li>
            </ul>
        </div>
    </section>

    <ul class="contact-icons">
        <li class="icon fa-home">{{site.address}}</li>
        <li class="icon fa-phone"><a href="tel:{{site.phone}}">{{site.phone}}</a></li>
        <li class="icon fa-envelope-o"><a href="mailto:{{site.email}}">{{site.email}}</a></li>
    </ul>
    <p class="copyright">&copy; 2018. All rights reserved.</p>
</footer>