<!-- Footer -->
<footer class="site-footer" id="footer">
    <div class="site-footer__about-me">
        <img width="120" height="120" src="/img/headshots/ed-ali.jpg" alt="Ali and Edward Meehan">
        <p>I'm from the small town of Hilo on the Big Island of Hawaii. I currently live in San Diego with my gorgeous wife Ali and our dog Tink. I enjoy surfing and Brazilian jiu-jitsu.</p>
    </div>

    <nav class="site-footer__nav">
        <ul>
            <li><a target="_blank" href="https://github.com/edmeehan"><i class="fab fa-github"></i> GitHub</a></li>
            <li><a target="_blank" href="https://www.linkedin.com/in/edwardmeehan"><i class="fab fa-linkedin-in"></i> LinkedIn</a></li>
            <li><a target="_blank" href="https://codepen.io/edmeehan"><i class="fab fa-codepen"></i> CodePen</a></li>
        </ul>
    </nav>
    
    <div class="site-footer__legal">
        &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </div>
</footer>