<!-- Header -->
<header id="header">
    {% if page.site_logo %}<a href="{{ site.baseurl }}{% link index.html %}" class="logo">{{site.title}} <span>{{site.subtitle}}</span></a>{% endif %}
    <nav>
        <ul>
            <li><a href="#menu">Menu</a></li>
        </ul>
    </nav>
</header>

<!-- Nav -->
<nav id="menu">
    <ul class="links">
        <li><a href="{{ site.baseurl }}{% link index.html %}">Welcome</a></li>
        <li><a href="{{ site.baseurl }}{% link services.html %}">Services</a></li>
        <li><a href="{{ site.baseurl }}{% link services.html %}#optimization">Optimization</a></li>
        <li><a href="{{ site.baseurl }}{% link services.html %}#development">Development</a></li>
        <li><a href="{{ site.baseurl }}{% link services.html %}#analytics">Analytics</a></li>
        <li><a href="{{ site.baseurl }}{% link index.html %}#about">About</a></li>
        <li><a href="{{ site.baseurl }}{% link blog/index.html %}">Blog</a></li>
    </ul>
    <ul class="actions vertical">
        <li><a href="{{ site.baseurl }}{% link index.html %}#contact" class="button special fit">Contact</a></li>
    </ul>
</nav>