<!-- Header -->
<header class="site-header" id="header">
    <nav class="site-header__nav layout">
        <div class="site-header__logo">
            <a href="/#intro">
                <img width="89" height="67" src="/img/emeehan-logo.svg" alt="">
                <!-- <div>Ed Meehan</div> -->
            </a>
        </div>
        <ul class="site-header__nav-links font-marker">
            <li id="header-link-about"><a href="/#about">About</a></li>
            <li id="header-link-services"><a href="/#services">Services</a></li>
            <li id="header-link-project"><a href="/project">Projects</a></li>
            <li id="header-link-contact"><a href="/#contact">Contact</a></li>
            <li id="header-link-blog"><a href="/blog">Blog</a></li>
        </ul>
    </nav>
</header>