<!-- Header -->
<header class="site-header" id="header">
    <nav class="site-header__nav layout">
        <div class="site-header__logo">
            <a href="">
                <img width="89" height="67" src="/img/emeehan-logo.svg" alt="">
            </a>
        </div>
        <ul class="site-header__nav-links font-marker">
            <li><a href="/#about">About</a></li>
            <li><a href="/#services">Services</a></li>
            <!-- <li><a href="">Portfolio</a></li> -->
            <li><a href="/#contact">Contact</a></li>
            <!-- <li><a href="">Blog</a></li> -->
        </ul>
    </nav>
</header>