<!-- Section -->
<section id="banner" class="big-head">
    <div class="items">
        <section class="{% if include.accent %}accent{{ include.accent }}{% endif %}">
            <h1 style="transform: rotate(3deg)">Hello, <wbr>I'm&nbsp;Ed.</h1>
            <p>I'm a freelance web developer in San Diego. I specialize in conversion rate optimization and application development with Javascript and PHP.</p>
        </section>
    </div>
    <div class="slider">
        <article>
            <img src="/img/image-4.png" alt="" data-position="top right" />
        </article>
    </div>
</section>