<div class="project-card project-card--{{ include.project.category }}">
    <a class="project-card__link" href="{{ include.project.url | absolute_url }}" title="View {{ include.project.title | downcase }} project">
        <img class="project-card__img" width="400" height="200" src="{{ include.project.image | absolute_url }}" alt="{{ include.project.title }} project image">
        <div class="project-card__title">
            <h2 class="h4 font-normal">{{ include.project.title }}</h2>
            <span class="date">{{ include.project.date | date: "%B %Y" }}</span>
            <h4 class="h5 font-normal">{{ include.project.category }}&nbsp;{{ include.category_icon.icon }}</h4>
        </div>
    </a>
</div>