<!-- Section -->
<section class="main {% if include.accent %}accent{{ include.accent }}{% endif %}">
    <header class="major">
        <h2>My Optimization Process</h2>
        <p>Hundreds of tests don't lie</p>
    </header>
    <div class="features">
        <section>
            <span class="icon fa-rocket major"></span>
            <h3>Optimization</h3>
            <p>Brainstorm and create a hypothesis.</p>
            <a href="{{ site.baseurl }}{% link services.html %}#optimization" class="button special small">More</a>
        </section>
        <section>
            <span class="icon fa-code major"></span>
            <h3>Development</h3>
            <p>Build and test the idea.</p>
            <a href="{{ site.baseurl }}{% link services.html %}#development" class="button special small">More</a>
        </section>
        <section>
            <span class="icon fa-bar-chart major"></span>
            <h3>Analytics</h3>
            <p>From tag manager setup to tracking</p>
            <a href="{{ site.baseurl }}{% link services.html %}#analytics" class="button special small">More</a>
        </section>
    </div>
</section>