.intro {
    img {
        margin: 0 auto;
        border-radius: 100%;
    }
}

#banner.intro-inc {
    > .items {
        @include breakpoint(null,(min-width:981px)) {
            // min-height: 500px;
            section {
                padding-left: 3em;
                padding-right: 3em;
            }
        }

        font-size: 1.4em;
    }

    h1 {
        white-space: nowrap;
    }
}

#contact-form {
    position: relative;
    
    > .uniform{
       opacity: 1; 
    }

    &.active,
    &.active input,
    &.active textarea{
        cursor: progress;
    }

    &.success,
    &.fail {
        cursor: default;

        > .uniform{
           opacity: 0; 
        }
    }

    &.active .form-response{
        z-index: 1;
    }

    &.success .form-response.success,
    &.fail .form-response.fail{
        opacity: 1;
    }

    .form-response {
        position: absolute;
        opacity: 0;
        height: 100%;
        width: 100%;
        top: 0;
        border: solid 2px transparent;
        z-index: -1;

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        &.success {
            border-color: #4cabb1;
        }

        &.fail {
            border-color: #fed586;
        }
    }
}

.experience-logos {
    display: flex;
    width: 100%;
    margin-bottom: -2em;

    > div {
        flex: 1 1 auto;
    }

    img {
        max-width: 100%;
    }
}

.services {

}