.form {
    $timing: 400ms;
    $form-item-padding: 0 .5rem;
    $form-item-margin: 1rem;

    position: relative;

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        opacity: 1;
        transition: opacity $timing;
    }

    &__loader {
        font-size: 3rem;
        text-align: center;
        position: absolute;
        top: 0;
        width: 100%;
        opacity: 0;
        transition: opacity $timing;
        z-index: -1;
    }

    &__input {
        padding: $form-item-padding;
        margin-bottom: $form-item-margin;
        box-sizing: border-box;
    }

    &__textarea {
        padding: $form-item-padding;
        margin-bottom: $form-item-margin;
        box-sizing: border-box;
    }

    &__controls {
        padding: $form-item-padding;
        margin-bottom: $form-item-margin;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
        }

        li {
            margin-right: 1.2rem;
        }
    }

    &__response-message {
        position: absolute;
        top: 0;
        width: 100%;
        opacity: 0;
        transition: opacity $timing;
        z-index: -1;
        &.active {
            opacity: 1;
        }
    }

    &--pending,
    &--success,
    &--fail {
        .form__wrapper {
            opacity: 0;
        }
    }

    &--pending {
        .form__loader {
            opacity: 1;
        }
    }

    &--name {
        flex: 1 0 auto;
    }

    &--email {
        flex: 1 0 auto;
    }

    &--message {
        flex: 1 0 100%;
    }

    &--question {
        flex: 1 0 100%;
    }

    &--email-confirm {
        position: absolute;
        z-index: -1;
    }
}

input,
textarea {
    width: 100%;
    box-sizing: border-box;
    border: solid 1px transparent;
    border-radius: $s-border-radius;
    padding: 0 .5rem;
    display: block;
    outline: none;
}

textarea {
    padding: .35rem .5rem;
}

input {
    line-height: 2rem;
    height: 2rem;
}

button {
    cursor: pointer;
    outline: none;
    &.link {
        border: none;
    }
}

.button {
    text-transform: uppercase;
    border-radius: $l-border-radius;
    background-color: #ccc;
    box-shadow: 0 (5/$size-units) + 0rem 0 #333;
    font-size: (18/$size-units) + 0rem;
    line-height: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    transform: translateY(0);
    transition: transform 300ms, box-shadow 300ms;
    border-color: transparent;

    &:active {
        transform: translateY((5/$size-units) + 0rem);
        box-shadow: 0 0 0 #333;
    }

    &--cta-1 {
        color: #fff!important;
        background-color: $brand-purple;
        box-shadow: 0px (5/$size-units) + 0rem 0px darken($brand-purple, 20%);

        &:active {
            box-shadow: 0 0 0 darken($brand-purple, 20%);
        }
    }

    &--cta-2 {
        color: #fff!important;
        background-color: $brand-green;
        box-shadow: 0px (5/$size-units) + 0rem 0px darken($brand-green, 20%);

        &:active {
            box-shadow: 0 0 0 darken($brand-green, 20%);
        }
    }

    &--cta-3 {
        color: #fff!important;
        background-color: $brand-blue;
        box-shadow: 0px (5/$size-units) + 0rem 0px darken($brand-blue, 20%);

        &:active {
            box-shadow: 0 0 0 darken($brand-blue, 20%);
        }
    }

    &--small {
        font-size: 1rem;
        line-height: 1.5em;
        padding-left: .5em;
        padding-right: .5em;
    }

    &--link {

    }
}

a.button {
    display: inline-block;
    text-decoration: none;
}