.page {
    overflow: hidden;

    &__wrapper { //.page__wrapper
        min-height: 100vh;
        position: relative;
        z-index: $z-background;

        &.active { //.page__wrapper.active

            .page__shadow { //.page__wrapper.active .page__shadow
                width: 100%;
                height: 100%;
                background-color: black;
                position: absolute;
                top: 0;
                z-index: $z-top;
                opacity: .8;
            }
        }
    }

    &__aside { //.page__aside
        height: 100vh;
        position: fixed;
        top: 0;
        width: 80%;
        transition: transform 300ms;
        z-index: $z-foreground;
        
        // which side will the drawer
        // slide in from - left or right
        &.page--left {
            left: 0;
            transform: translateX(-100%);
        }

        &.page--right {
            right: 0;
            transform: translateX(100%);
        }

        &.active {
            transform: translateX(0%);
        }
    }

    &__background {
        height: 100vh;
        width: 100vw;
        position: fixed;
        z-index: -1;

        > div {
            width: inherit;
            height: inherit;
            position: absolute;
        }
    }

    &__shadow {
        opacity: 0;
        transition: opacity 800ms;
    }

    @media (min-width: $m-break) {
        $small: 25rem;
        $med: 40vw;
        $large: 70vw;

        &__aside {
            &.page--small {width: $small;}
            &.page--med {width: $med;}
            &.page--large {width: $large;}
        }
    }
}

.section {
    &__content {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    &--full-screen {
        min-height: 100vh;

        .section__content {
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    @media (min-width: $m-break) {
        &__content {
            padding-top: 6rem;
            padding-bottom: 6rem;
        }
    }
}

.layout {

    @media (max-width: $xs-break-max) {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    @media (min-width: $s-break) and (max-width: $s-break-max) {
        margin-left: 3rem;
        margin-right: 3rem;
    }

    @media (min-width: $m-break) {
        width: 70%;
        max-width: $m-break - 100;
        margin-left: auto;
        margin-right: auto;
    }

    @media (min-width: $l-break) {
        max-width: $l-break - 100;
    }

    @media (min-width: $xl-break) {
        max-width: $xl-break - 100;
    }
}

.block {
    display: block;
}
