@mixin marker() {
    font-family: 'Permanent Marker', cursive;
    letter-spacing: .1rem;
    word-spacing: .25rem;
}

@mixin poppins() {
    font-family: 'Poppins', sans-serif;
}

.font {
    &.poppins,
    &-poppins {
        @include poppins();
    }

    &.marker,
    &-marker {
        @include marker();
    }
}

h1,h2,h3,h4,h5,
.h1,.h2,.h3,.h4,.h5 {
    @include marker();
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    line-height: 1.5rem;
}

h1,.h1 {
    font-size: (52/$size-units) + 0rem;
    line-height: 3rem;
}

h2,.h2 {
    font-size: (42/$size-units) + 0rem;
}

h3,.h3 {
    font-size: (36/$size-units) + 0rem;
}

h4,.h4 {
    font-size: 1rem;
}

h5,.h5 {
    font-size: (18/$size-units) + 0rem;
}

p {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    line-height: 1.5rem;
}

.big {
    font-size: (42/$size-units) + 0rem;
}
.small {
    font-size: (18/$size-units) + 0rem;
}
