$brand-lite-blue: #8CB9EA;
$brand-blue:      #5893D7;
$brand-dark-blue: #2C5DA0;
$brand-rich-blue: #3B6084;
$brand-tan:       #C2AD90;
$brand-green:     #4C5328;

// default font size
$size-units: 20;

// z-index levels
$z-base: 0;
$z-background: 1;
$z-foreground: 5;
$z-popover: 50;
$z-menu: 100;
$z-modal: 200;
$z-top: 300;

// breakpoints
$xl-break: 1600px;

$l-break-max: $xl-break - 1;
$l-break: 1024px;

$m-break-max: $l-break - 1;
$m-break: 768px;

$s-break-max: $m-break - 1;