<!DOCTYPE html>
<html data-ng-app="DropTheV">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Drop The V</title>
  <link rel="stylesheet" href="styles/screen.css">
</head>
<body>
	<div class="wrapper" data-ng-controller="FeedController">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div id="audioChannel" class="audio-channel">
						<iframe class="soundcloud" data-label="soundcloud" scrolling="auto" frameborder="0" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/136747783&amp;amp;auto_play=false&amp;amp;hide_related=false&amp;amp;show_comments=false&amp;amp;show_user=false&amp;amp;show_reposts=false&amp;amp;visual=false"></iframe>
					</div>
				</div>
				<div class="col-md-8">
					<div class="master-channel">
						<ul id="activeChannels" class="list-group">
						<!-- repeat per active channel -->
							<li data-ng-repeat="ch in activeChannels" data-ng-class="ch.status" class="list-group-item">Ch&nbsp;{{ ch.ch }}&nbsp;
								<span class="label label-default">Loading</span>
								<span class="label label-warning">Ready</span>
								<span class="label label-success">Playing</span>
							</li>
						</ul>
						<button data-ng-click="popupWindow()" class="btn btn-lg btn-primary">Broadcast</button>
						<div class="channels" id="masterChannel"></div>
					</div>
				</div>
			</div>
			<div class="row">
			<!-- repeat per channel -->
				<div data-ng-class="'col-md-' + (12 / channels.length)" data-ng-repeat="ch in channels" class="channel">
					<div data-ng-class="{'active': $parent.liveChannel === $index}" class="panel panel-default">
						<div class="panel-heading">
							<button data-ng-click="chState === 'disabled' || toggleChannel()" data-ng-init="chState = 'disabled'; toggleText = 'Go Live'" data-ng-class="chState" class="btn btn-default pull-right btn-primary" type="button">{{ toggleText }}</button>
							<h4>Channel {{ ch }}</h4>
						</div>
						<div data-channel-preview class="channel-preview"></div>
						<div class="list-group">
			<!-- repeat per video source -->
							<button data-ng-click="selectVideo()" data-ng-class="{'active': this['srcActive_' + $parent.$index] === $index}" data-ng-repeat="vid in video_feed.data" type="button" class="list-group-item">
								<img src="#" class="list-group-item-thumb" alt="{{ vid.label }}" data-ng-src="{{ vid.thumb_url }}" />
								<h5 class="list-group-item-heading">{{ vid.label }}</h5>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
  <script type="text/javascript" src="//f.vimeocdn.com/js/froogaloop2.min.js"></script>
  <script type="text/javascript" src="//www.youtube.com/iframe_api"></script>
  <script type="text/javascript" src="scripts/app.js"></script>
  <script type="text/javascript" src="scripts/controllers.js"></script>
  <script type="text/javascript" src="scripts/directives.js"></script>
</body>
</html>