---
layout: 2019_default
---
{%- assign category_icon = site.data.icons-category[page.category] -%}
<section class="section js-scroll-in-view">
    <div class="section__content layout">
        <article class="blog__article blog-post-grid">
            {%- if page.image -%}            
            <header class="blog__masthead">
                <img src="{{ page.image }}" alt="">
            </header>
            {%- endif -%}
            <div class="blog__title">
                <h1 class="h3 font-serif">{{ page.title }}</h1>
            </div>
            <sidebar class="blog__sidebar">

            </sidebar>
            <div class="blog__content">
                {{ page.content | markdownify }}
            </div>
        </article>
        {%- if page.comments -%}
        <div class="blog__comment">
            {%- include disqus_comments.html -%}
        </div>
        {%- endif -%}
    </div>
</section>