---
layout: 2019_master
---
<!-- Page Layout Start -->
<div class="page font-sans" id="{{ page.layout_id | default: default-layout }}">
    <div class="page__background" id="page-background"></div>
    <div class="page__wrapper" id="document">
        <div class="page__shadow" id="page-shadow"></div>
        <button type="button" class="aside-nav__btn-show button button--cta-2 js-aside-show" data-target="#aside-nav">
            <i class="fas fa-bars site-nav__toggle-open"></i>
        </button>
        <button type="button" class="aside-message__btn-show button button--cta-1 js-aside-show" data-target="#aside-message">
            <i class="fas fa-comment"></i><span>&nbsp;Send me a message</span>
        </button>
        {{ content }}
        {% if page.share %}{% include share.html %}{% endif %}
    </div>
    {% include aside-nav.html %}
    {% include aside-message.html %}
</div>
<!-- Page Layout End -->
