---
layout: 2019_master
color_style: 'theme--black'
css_styles: ["/css/backgrounds-projects.css","/css/projects.css"]
js_scripts: ["/js/projects.js"]
---
<script>
    window.backgroundCount = 2;
</script>
<!-- Page Layout Start -->
<div class="page font-sans" id="page-content">
    <div class="page__background" id="page-background"></div>

    <div class="page__nav">
        <button type="button" class="page__toggle button button--cta" id="header-nav-toggle">
            <i class="fas fa-bars page__toggle-open"></i>
            <i class="fas fa-times page__toggle-close"></i>
        </button>
        <div class="flex">
            {% include header.html %}
            {% include footer.html %}
        </div>
    </div>
    <div class="page__wrapper">
        <div class="page__shadow"></div>
        {{ content }}
    </div>

    {% include message-modal.html %}
</div>
<!-- Page Layout End -->
