---
layout: 2019_master
css_styles: ["/css/backgrounds-default.css"]
# color_style: 'theme--blue'
---
<script>
    window.backgroundCount = 7;
</script>
<!-- Page Layout Start -->
<div class="page font-sans" id="default-layout">
    <div class="page__background" id="page-background"></div>
 
    <div class="page__aside site-nav page--left page--small" id="aside-nav">
        {% include header.html %}
        {% include footer.html %}
    </div>
    
    <div class="page__wrapper" id="document">
        <div class="page__shadow"></div>

        <button type="button" class="site-nav__toggle button button--cta js-aside-show" data-target="#aside-nav" data-toggle>
            <i class="fas fa-bars site-nav__toggle-open"></i>
        </button>

        <button type="button" class="message-modal__toggle button button--cta js-aside-show" data-target="#aside-message" data-toggle>
            <i class="fas fa-comment"></i> <span>Send me a message</span>
        </button>

        {{ content }}
    </div>

    {% include message-modal.html %}
</div>
<!-- Page Layout End -->
