---

---
{% capture description %}
    {% if page.excerpt %}
        {{ page.excerpt | strip_html }}
    {% elsif page.description %}
        {{ page.description }}
    {% endif %}
{% endcapture %}
{% capture headline %}
    {% if page.seo-title %}
        {{ page.seo-title }}
    {% elsif page.title %}
        {{ page.title }}
    {% endif %}
{% endcapture %}
{% assign theme_color = site.data.theme_colors[page.theme_color] %}
<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <title>{{ headline | normalize_whitespace }}</title>
        <meta name="twitter:title" content="{{ headline | normalize_whitespace }}">
        <meta property="og:title" content="{{ headline | normalize_whitespace }}">
        <meta itemprop="name" content="{{ headline | normalize_whitespace }}">
        <meta name="description" content="{{ description | normalize_whitespace }}">
        <meta property="og:description" content="{{ description | normalize_whitespace }}">
        <meta itemprop="description" content="{{ description | normalize_whitespace }}">
        <meta name="twitter:description" content="{{ description | normalize_whitespace }}">
        <link rel="canonical" href="{{ page.url | absolute_url }}">
        <link rel="apple-touch-icon" href="{{ "/apple-touch-icon.png" | absolute_url }}">
        <link rel="shortcut icon" href="{{ "/favicon.png" | absolute_url }}" type="image/x-icon">
        <link rel="author" href="{{ "/humans.txt" | absolute_url }}">
        <link rel="alternate" type="application/rss+xml" href="{{ "/feed.xml" | absolute_url }}">
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ page.url | absolute_url }}">
        <meta property="og:image" content="{{ page.og-image | absolute_url }}">
        {% if site.gtm_container_id %}
        <script>dataLayer = [];</script>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','{{ site.gtm_container_id }}');</script>
        <!-- End Google Tag Manager -->
        {% endif %}
        <!-- Style Sheets -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        {% for item in site.css_styles %}<link rel="stylesheet" href="{% if item.absolute_url %}{{ item.path | absolute_url }}{% else %}{{ item.path }}{% endif %}{% if item.cache_bust %}?{{ site.time | date: '%s%N' }}{% endif %}" />{% endfor %}
        <link rel="stylesheet" href="{{ theme_color.css | absolute_url }}?{{ site.time | date: '%s%N' }}" />
        {% for item in layout.css_styles %}<link rel="stylesheet" href="{% if item.absolute_url %}{{ item.path | absolute_url }}{% else %}{{ item.path }}{% endif %}{% if item.cache_bust %}?{{ site.time | date: '%s%N' }}{% endif %}" />{% endfor %}
        {% for item in page.css_styles %}<link rel="stylesheet" href="{% if item.absolute_url %}{{ item.path | absolute_url }}{% else %}{{ item.path }}{% endif %}{% if item.cache_bust %}?{{ site.time | date: '%s%N' }}{% endif %}" />{% endfor %}
    </head>
    <body class="{{ page.theme_color | prepend: "theme--" }}">
        {% if site.gtm_container_id %}
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.gtm_container_id }}" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        {% endif %}
        {{ content }}
        <!-- Scripts -->
        <script>window.backgroundCount = {{ theme_color.count }};</script>
        {% for item in site.js_scripts %}<script src="{% if item.absolute_url %}{{ item.path }}{% else %}{{ item.path | absolute_url }}{% endif %}"></script>{% endfor %}
        {% for item in layout.js_scripts %}<script src="{% if item.absolute_url %}{{ item.path | absolute_url }}{% else %}{{ item.path }}{% endif %}{% if item.cache_bust %}?{{ site.time | date: '%s%N' }}{% endif %}"></script>{% endfor %}
        {% for item in page.js_scripts %}<script src="{% if item.absolute_url %}{{ item.path | absolute_url }}{% else %}{{ item.path }}{% endif %}{% if item.cache_bust %}?{{ site.time | date: '%s%N' }}{% endif %}"></script>{% endfor %}
    </body>
</html>