---
layout: 2019_master
color_style: 'theme--black'
css_styles: ["/css/backgrounds-projects.css","/css/projects.css"]
js_scripts: ["/js/projects.js"]
---
<script>
    window.backgroundCount = 2;
</script>
<div class="page-background" id="page-background"></div>
<!-- Page Layout Start -->
<div class="page-content font-poppins">
    {% if page.block_header %}
        {% include {{page.block_header}} %}
    {% endif %}
    
    {{ content }}        
    
    {% if page.block_footer %}
        {% include {{page.block_footer}} %}
    {% endif %}
</div>
<!-- Page Layout End -->
