---
layout: 2019_default
---
{% assign category_icon = site.data.icons[page.category] %}
<section class="section section--full-screen js-scroll-in-view">
    <div class="section__content layout">
        <article class="project">
            <div class="project__title">
                <a class="project__back-link" href="{{ site.baseurl | prepend: site.url }}{% link projects.html %}" title="View all projects"><i class="fas fa-arrow-left"></i></a>
                <h1 class="font-serif">{{ page.title }}</h1>
                <h4 class="weight-normal">{{ page.date | date: "%B %Y" }}</h4>
            </div>
            <header class="project__masthead">
                <img src="{{ page.image }}" alt="">
            </header>
            <aside class="project__sidebar">
                <h4 class="project__category">{{ page.category }}&nbsp;{{ category_icon.icon }}</h4>
                {% if page.project_url %}
                <a href="{{ page.project_url }}" rel=”nofollow” target="_blank" class="button button--cta-1 project__link"><i class="fas fa-link"></i><span>&nbsp;Visit Project</span></a>
                {% endif %}
            </aside>
            <div class="project__content">
                {{ page.content | markdownify }}
            </div>
            {% if page.comments %}
            <div class="project__comment">
                {% include disqus_comments.html %}
            </div>
            {% endif %}
        </article>
    </div>
</section>