---

---

<!doctype html>
<html class="layout-default skin_{{ page.skin }}" lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{{ site.title }}{% if page.title %} | {{ page.title }}{% endif %}</title>
		<meta name="description" content="{{ site.description }}">
		
		<link rel="apple-touch-icon" href="{{site.baseurl}}/apple-touch-icon.png">
		<!-- Place favicon.ico in the root directory -->
		<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
		<!-- CSS -->
		<link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
		<!-- Google Fonts -->
		<script type="text/javascript">
			WebFontConfig = { google: { families: [ 'Droid+Sans::latin', 'Droid+Serif::latin' ] } };
			(function() {
				var wf = document.createElement('script');
				wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
				wf.type = 'text/javascript';
				wf.async = 'true';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(wf, s);
			})();
		</script>
	</head>
	<body>
		<div class="container">
			<section id="content" class="block block-{{ page.blockName }}">
				{% if page.headline %}
				<header class="block-hd block-{{ page.blockName }}-hd">
					<h1>{{ page.headline }}</h1>
				</header>
				{% endif %}
				<div class="block-bd block-{{ page.blockName }}-bd">
					{{ content }}
				</div>
			</section>
			{% for item in page.sections %}
				{% include section_{{item}}.html %}
			{% endfor %}
			<footer id="footer" class="footer">Designed, Built and maintained by me!</footer>
		</div>
		<script src="{{site.baseurl}}/js/main.js"></script>
	</body>
</html>