---

---
<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        {% if site.gtm_container_id %}
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','{{ site.gtm_container_id }}');</script>
        <!-- End Google Tag Manager -->
        {% endif %}
        <title>{{ site.title }}{% if page.title %} | {{ page.title }}{% endif %}</title>
        {% if page.excerpt %}
        <meta name="description" content="{{ page.excerpt | strip_html }}">
        {% elsif page.description %}
        <meta name="description" content="{{ page.description }}">
        {% endif %}
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"> 
        <!-- Place favicon.ico in the root directory -->
        <!-- <link rel="apple-touch-icon" href="{{site.url}}/apple-touch-icon.png"> -->
        <link rel="stylesheet" href="{{site.baseurl}}/css/main.css" />
    </head>
    <body>
        {% if site.gtm_container_id %}
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.gtm_container_id }}"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        {% endif %}
        <!-- Page Wrapper -->
            <div id="page-wrapper">
                {% if page.block_header %}
                <!-- Wrapper -->
                <div class="wrapper">
                    <div class="inner">

                        {% include {{page.block_header}} %}
                        
                        {% if page.block_top %}
                            {% include {{page.block_top.include}} accent=page.block_top.accent %}
                        {% endif %}
                        
                    </div>
                </div>
                {% endif %}

                {{ content }}
                
                {% if page.block_footer %}
                <!-- Wrapper -->
                <div class="wrapper">
                    <div class="inner">
                        
                        {% if page.block_bottom %}
                            {% include {{page.block_bottom.include}} accent=page.block_bottom.accent %}
                        {% endif %}
                        
                        {% include {{page.block_footer}} %}

                    </div>
                </div>
                {% endif %}
                
                {% if page.debugmode and jekyll.environment == "development" %}
                <!-- Wrapper -->
                <div class="wrapper">
                    <div class="inner">
                        {% include jekyll_vars.html %}
                    </div>
                </div>
                {% endif %}

            </div>

        <!-- Scripts -->
        {% for item in site.js_scripts %}
            <script src="{{site.baseurl}}{{item}}"></script>
        {% endfor %}
        {% for item in page.js_scripts %}
            <script src="{{site.baseurl}}{{item}}"></script>
        {% endfor %}

    </body>
</html>